.fast-part4 {
  text-align: center;
  background-image: url('../assets/fast&furious4\(2\).jpg');
}

.fast-part5 {
  text-align: center;
  background-image: url('../assets/fast&furious53.jpg');
}


.fast-part6 {
  text-align: center;
  background-image: url('../assets/fast&furious6.jpg');
}