  header {
    padding: 60px;
    text-align: center;
    background: black;
    color: gray;
    font-size: 30px;
  }
 
  h1 {
    font-size: 48px;
  }
 
  .fast-part1 {
     background-image: url("../Assets/fast&furious1.jpg");
   }
 
  .fast-part2 {
    background-image: url("../Assets/fast&furious2.jpg");
  }
 
  .fast-part3 {
    background-image: url("../Assets/fast&furious3.jpg");
  }
  
  .fast-part4 {
   text-align: center;
   background-image: url('../Assets/fast&furious4\(2\).jpg');
 }

 .fast-part5 {
   text-align: center;
   background-image: url('../Assets/fast&furious5_1.jpg');
 }

 .fast-part6 {
   text-align: center;
   background-image: url('../Assets/fast&furious6_1.jpg');
 }
