 .fast-part4 {
   text-align: center;
   background-image: url('../assets/fast&furious4\(2\).jpg');
 }

 .fast-part5 {
   text-align: center;
   background-image: url('../assets/fast&furious53.jpg');
 }


 .fast-part6 {
   text-align: center;
   background-image: url('../assets/fast&furious6.jpg');
 }

 header {
   padding: 60px;
   text-align: center;
   background: black;
   color: gray;
   font-size: 30px;
 }

 h1 {
   font-size: 48px;
 }

 .parallax {
   /* The image used */
   background-image: url("../Assets/fast&furious1.jpg");
   /* Set a specific height and width */
   min-height: 100vh;
   width: 100%;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .second {
   background-image: url("../Assets/fast&furious2.jpg");
 }

 .third {
   background-image: url("../Assets/fast&furious3.jpg");
 }